{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/css.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/flexboxgrid.css'%}">
     {% endblock %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>


<body background="{% static 'IMG/servidores-dedicados-1.jpg'%}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Sistema De Bodegas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Ingresar <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/consulta">Stock</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/logout/">Cerrar Sesión</a>
                </li>
        </div>
        <p class="nav navbar-nav navbar-right" float:right>Bienvenido  {{user.username | upper}}</p>
    </nav>
    <div class="containe p-4 mt-5">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card  mb-5">
                    <div class="card-body">
                       
                        
                            <img src="{% static 'IMG/ingresar.png'%}" alt="Logo" class="img-fluid" id="img_logo">
                            
                            <br>
                        <form action="{% url 'crear' %}" method="POST">
                            {% csrf_token %}
                            
                     
                            
                            <div class="form-group">
                               {{ form.Codigo }}
                            </div>
                            
                            {% if form.Codigo.errors %}
                                <ol>
                                {% for error in form.Codigo.errors %}
                                <div class="alert alert-danger" role="alert">
                                    Codigo ya existe
                                  </div>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                            

                            <div class="form-group">
                                {{ form.Nombre }}
                            </div>

                            <div class="form-group">
                                {{ form.Valor_iva }}
                            </div>

                            <div class="form-group">
                                {{ form.Valor_total }}
                            </div>

                            <div class="form-group">                                
                                <button type="submit" class="btn btn-success btn-block">Ingresar Productos</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
<html>