{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/css.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/flexboxgrid.css'%}">
    {% endblock %}
</head>

    {% block main %}

    
    {% endblock %}
<body background="{% static 'IMG/servidores-dedicados-1.jpg'%}">
    
    <div class="containe p-4">
        <div class="row">
            <div class="col-sm-6  mx-auto">
                <div class="card">
                    <div class="card-body">

                        <form method="POST">
                             {% csrf_token %}
                            <img src="{% static 'IMG/logo.png'%}" alt="Logo" class="img-fluid" id="img_logo">
                            <br>
                           
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Usuario" autofocus required>
                            </div>
                           
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                            </div>
                           
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Iniciar Sesion</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block"><a href="{% provider_login_url "facebook" method="oauth2" %}">Login Con Facebook</a></button>
                            </div>
                            {% if form.errors %}
                            <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
                            
                            {% if next %}
                             {% if user.is_authenticated %}
                          <p>EL Usuario no se encuentra en la bd . contacte con un administrador </p>
                             {% else %}
                          <p>Inicia sesión para ver esta página.</p>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<html>