{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
          {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/css.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/flexboxgrid.css'%}">
          {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>


<body background="{% static 'IMG/servidores-dedicados-1.jpg'%}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Sistema De Bodegas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Ingresar <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item">
                        <a class="nav-link" href="/consulta">Stock</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="/logout/">cerrar sesion</a>
                </li>
        </div>
    </nav> 
    <div class="containe p-4 mt-5">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card  mb-5">
                    <div class="card-body">
                        
                            <img src="{% static 'IMG/stock.png'%}" class="img-fluid" id="img_logo">
                            <br>
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="card-title">Listado de Productos</strong>
                                    </div>
                                    <div class="table-stats order-table ov-h">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Codigo</th>
                                                    <th>Nombre</th>
                                                    <th>Valor Iva</th>
                                                    <th>Valor Total</th>
                                                    <th>Operaciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for Productos in object_list %}
                                                <tr>
                                                    <td>{{Productos.Id}}</td>
                                                    <td>{{ Productos.Codigo }}</td>
                                                    <td>{{ Productos.Nombre }}</td>
                                                    <td>{{ Productos.Valor_iva }}</td>
                                                    <td>{{ Productos.Valor_total }}</td>
                                                    <td>
                                                        <a href="{% url 'modificar' Productos.Id %}" class="btn btn-primary">Editar</a>
                                                        <a href="{% url 'eliminar' Productos.Id %}" class="btn btn-danger">Eliminar</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>
</body>
<html>