{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
       {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/css.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/flexboxgrid.css'%}">

         {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body background="{% static 'IMG/servidores-dedicados-1.jpg'%}">
   

    <div class="containe p-4 mt-5">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <div class="card  mb-5">
                        <div class="card-body">
                                <img src="{% static 'IMG/eliminar.png'%}" alt="Logo" class="img-fluid" id="img_logo">
                                <br>
                                <center>
                                        <form method="POST">
                                                {% csrf_token %}
                                                <p><strong>¿Desea Eliminar el registro {{object}} ?</strong></p>
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                        </form>
                                </center>
                                
                        </div>
                    </div>
                </div>
            </div>
</body>
<html>