/* body
{
	font-family: Arial;
	font-size: 16px;
} */

#img_logo {
    display: block;
    margin: auto;
}

body {
    font-family: Arial;
    font-size: 16px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    opacity: 80%;
    color: black;
}

form {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.card-body {
    border-radius: 15px;
}
a{
    color:white;
}